
@{
    ViewData["Title"] = "AboutUs";
     Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a layout file
}

<h1>AboutUs</h1>


<p>We are a passionate team working together to create amazing solutions.</p>
<p>Contact us at ThinkQuotient.com.</p>